h1{
    color:blue

}
p{
    color:crimson

}
/*
*{
    border: solid;
}
*/
.header{
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
p,h2,h1{
    text-align: center;
}
body{
 background-color: aqua;   
}